.images{
    background-image: url("../images//img2.jpg");
}

.images{
    width: 100vw;
    height: 100vh;
};
    @media (max-width: 640px) {
        .heroleft {
          margin-left: 1rem;
          width: 100%;
        }
        .hometext{
            font-size: 1rem;
        }
        .homehead{
            font-size: 1.2rem;
        }
        
      }
      
/* .logo{
    background-image: url("../images//logo-removebg-preview.png");
    position: absolute;
    top: -20rem;
    z-index: 300;
} */
.changess:hover{
    box-shadow: 0px 3px 38px 16px rgba(244, 191, 54, 1);
}
.img1{
    background-image: url("../images//crop-disease-1.jpeg");
    height: 170px;
    width: 300px;
}

.img2{
    background-image: url("../images//crop-disease-2.jpeg");
    height: 170px; 
     width: 300px;
    
}

.img3{
    background-image: url("../images//crop-disease-3.jpeg");
    height: 170px;
    width: 300px;
}